body {
  font-family: Arial, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
  padding: 20px;
  color: #333;
}

.container {
  max-width: 500px;
  margin: auto;
  background: #e9f2e9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

form label {
  display: block;
  margin-top: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background-color: #2c8f30;
  color: rgb(102, 237, 75);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}
h1 i {
  color: #4CAF50;          /* Green color */
  font-size: 28px;         /* Make icon bigger */
  margin-right: 10px;      /* Add space between icon and text */
  vertical-align: middle;  /* Align with text */
}

